@font-face {
  font-family: PlusJakartaSansExtraLight;
  src: url("../fonts/PlusJakartaSans-ExtraLight.ttf");
}

@font-face {
  font-family: PlusJakartaSansLight;
  src: url("../fonts/PlusJakartaSans-Light.ttf");
}

@font-face {
  font-family: PlusJakartaSansRegular;
  src: url("../fonts/PlusJakartaSans-Regular.ttf");
}


@font-face {
  font-family: PlusJakartaSansSemiBold;
  src: url("../fonts/PlusJakartaSans-SemiBold.ttf");
}


@font-face {
  font-family: PlusJakartaSansMedium;
  src: url("../fonts/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: PlusJakartaSansSemiBold;
  src: url("../fonts/PlusJakartaSans-SemiBold.ttf");
}

@font-face {
  font-family: PlusJakartaSansBold;
  src: url("../fonts/PlusJakartaSans-Bold.ttf");
}


@font-face {
  font-family: PlusJakartaSansExtraBold;
  src: url("../fonts/PlusJakartaSans-ExtraBold.ttf");
}

@font-face {
  font-family: PlusJakartaSansBlack;
  src: url("../fonts/PlusJakartaSans-Black.ttf");
}


@font-face {
  font-family: DMSerifDisplay-Italic;
  src: url("../fonts/DMSerifDisplay-Italic.ttf");
}

@font-face {
  font-family: DMSerifDisplay-Regular;
  src: url("../fonts/DMSerifDisplay-Regular.ttf");
}




:root {
  --font-300: PlusJakartaSansLight;
  --font-400: PlusJakartaSansRegular;
  --font-500: PlusJakartaSansMedium;
  --font-600: PlusJakartaSansSemiBold;
  --font-700: PlusJakartaSansBold;
  --font-800: PlusJakartaSansExtraBold;
  --font-900: PlusJakartaSansBlack;

  --font-dm: PlusJakartaSansBlack;
  --font-dm-italic: PlusJakartaSansBlack;

  --primary: #8BAF5E;
  --primary-light: #cceca4;
  --secondary: #FFCA42;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-400);
}




html,
body {
  font-family: var(--font-400);
}

a {
  text-decoration: none;
  transition: 0.3s ease 0s;
  color: var(--bs-black);
}

a:hover {
  color: var(--primary);
}

input,
button,
textarea {
  outline: none;
  border: 0px;
  background: none;
}

.webkit {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.webkit_1 {
  -webkit-line-clamp: 1;
}

.webkit_2 {
  -webkit-line-clamp: 2;
}

.webkit_3 {
  -webkit-line-clamp: 3;
}

.webkit_4 {
  -webkit-line-clamp: 4;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.img-box {
  margin: 0px;
}

.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.img-box-content img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 0.3s;
}

li.nav-item.dropdown.navdesktop ul {
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}



::-webkit-scrollbar-thumb {
  background: var(--secondary);
}



body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #6a7382;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  color: #000001;
  margin-top: 0;
  line-height: 1.5;

}

p {
  margin-bottom: 15px;
  color: #6a7382;
}

/* Navbar */

.navbar-nav li {
  bottom: 0;
}

.navbar-nav li a {

  font-size: 1rem;
  font-weight: 400;
  color: #ffffff !important;
  display: inline-block;
  position: relative;
}

.navbar-nav li a:hover {
  color: #ffffff !important;
}

.navbar-nav .nav-link.active {
  color: #ffffff !important;
}

.header.sticky li a {
  color: white !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--primary-light);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
  left: 0;
}

ul.dropdown-menu {
  padding: 0;
}

.dropdown-menu li:hover,
.dropdown-menu li:hover a {
  background: white;
  color: #000001 !important;
}

.navbar-brand img {
  /* width: 245px;
  height: 115px; */
  width: auto;
  transition: 0.6s;
}

.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #000001;
}

.offcanvas {
  background-color: #000001;
}

.offcanvas .navbar-nav .dropdown-menu {
  margin-top: 10px;
  border-radius: 8px;
}

.offcanvas .navbar-nav .dropdown-menu li {
  padding: 10px 0;
}

.offcanvas .navbar-nav .dropdown-menu li:hover,
.offcanvas .navbar-nav .dropdown-menu li:hover a {
  border-radius: 8px;
}

.offcanvas .btn-close svg {
  fill: white;
}

.offcanvas-header>img {
  width: 15rem;
}

.dropdown-menu {
  background-color: var(--secondary);
  border-radius: 0px;
}

.dropdown-item {
  background: none !important;
}

.dropdown-menu li {
  padding: 6px 10px;
}

/* section */

section {
  padding-top: 50px;
  padding-bottom: 50px;
  /* background: white; */
  z-index: 4;
  position: relative;
}

/* header */
.header {
  padding: 15px 0 15px 0;
  background: #000001;
  z-index: 999;
  transition: 0.6s;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  background: #100f0000;
  backdrop-filter: blur(19px);
}

header.sticky {
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #000001;
}

header.sticky #navbarNav {
  border-bottom: 0px !important;
}

header.sticky img {
  width: auto;
  transition: all 0.5s ease-in-out;
}

/* top banner */
.top-banner {
  background: url("../images/top-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top-banner .right-col h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 10px;
  color: white;
}

.top-banner .right-col p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 0;
}


/* End */

/* partner */
.client {
  padding-top: 25px;
  padding-bottom: 24px;
  margin-top: -98px;
  background: white;
  backdrop-filter: blur(50px);
}

.client img {
  margin: auto;
}

/* end */

/* contact us */

.contact-us {
  padding-top: 60px;
  padding-bottom: 70px;
  background: url("../images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/* end */

/* form */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  resize: none;
  display: block;
  width: 100%;
  padding: 16px 15px;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #1e1e1e42;
  color: #1e1e1e !important;
  background-color: transparent;
  border-radius: 0;
  background: #F9F9F9;
  color: #011334 !important;

}

.form-control:focus {
  background-color: transparent;
  border-color: var(--primary);
  box-shadow: none !important;
  outline: none !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1e1e1e !important;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #1e1e1e !important;
  font-weight: 400;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #1e1e1e !important;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
  font-weight: 400;
}

/* end */

/* Button */
/* From Uiverse.io by zjssun */
.theme-btn {
  position: relative;
  padding: 9px 34px;
  /* border-radius: 6px; */
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--primary);
  /* transition: all 0.3s ease; */
  border: 2px solid var(--primary);
  font-size: 15px;
  display: inline-block;
  border-radius: 0;
}

.theme-btn:hover {
  background-color: #f0ffdd;
  color: var(--primary);
}

.theme-btn:active {
  transform: scale(0.96);
}

.theme-btn:before,
.theme-btn:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.theme-btn:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--primary) 20%, transparent 30%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--primary) 15%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
  opacity: 1;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    opacity: 0;
  }
}

.theme-btn:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--primary) 15%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%),
    radial-gradient(circle, var(--primary) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* end */

/* footer */
.footer {
  padding-top: 35px;
  padding-bottom: 25px;
  background: var(--primary);
  position: relative;
  z-index: 4;
}

.footer-logo p {
  color: white;
  margin-top: 20px;
  font-size: 1rem;
}

.footer-top {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 3px solid white;
}

.footer-bottom {
  margin-top: 28px;
  text-align: center;
}

ul.footer-link {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 21px;
  margin: 0;
}

ul.footer-link li {
  list-style: none;
}

ul.footer-link li a {
  color: white;
  font-size: 19px;
  font-family: var(--font-500);
}

.footer-bottom p {
  color: white;
  margin: 0;
  font-size: 16px;
}

.header-top .social-media {
  display: flex;
  gap: 18px;
}



.footer-bootom-links>span {
  margin: 0;
  margin-right: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}


/* end */

.animate-up {
  animation: up 3s ease-in-out infinite;
}

@keyframes up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-16px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-zoom {
  animation: zoom-in-zoom-out 3s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
  }

  30% {
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }

  50% {
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
  }

  50% {
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }

  100% {
    transform: scale(0.9);
    transition: all 0.7s ease-in-out;
  }
}

.footer-logo .trust-img {
  width: 10rem;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 0;
  padding-bottom: 4px;
  font-size: 15px;
}

ul.navbar-nav {
  gap: 22px;
}



/* ==========Custom========== */

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: \;
}

.header.sticky li a.active {
  color: var(--primary-light) !important;
}

div#navbarNav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
}

nav.navbar.navbar-expand-xl.navbar-dark.stroke.bg-transparent {
  flex-direction: column;
  align-items: unset;
}

.header-top-main {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}


.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-mail-main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-mail span {
  margin-left: 6px;
  color: white;
  transition: .3s;
}

.header-mail i {
  color: var(--secondary);
  transition: .3s;
}

.social-media {
  color: var(--secondary);
  color: var(--primary);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0; */
  border-color: white;
  background: white;
  padding: 9px 20px;
}

.social-media:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, white 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, white 20%, transparent 30%),
    radial-gradient(circle, white 20%, transparent 20%),
    radial-gradient(circle, white 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 15%, transparent 20%),
    radial-gradient(circle, white 20%, transparent 20%),
    radial-gradient(circle, white 20%, transparent 20%),
    radial-gradient(circle, white 20%, transparent 20%),
    radial-gradient(circle, white 20%, transparent 20%) !important;
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

.theme-btn:hover::after {
  bottom: -70%;
  /* background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%) !important; */
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

.social-media i:not(:nth-child(1)) {
  margin-left: 12px;
}

.nav-link:hover,
.nav-link.active {
  color: var(--secondary) !important;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  background: #100f0000;
  backdrop-filter: blur(19px);
}

.social-media-main {
  display: flex;
  align-items: center;
  gap: 9px;
}

/* Hero_Section */
.hero-section.other-hero {
  background-image: url("../images/hero-bg.png");
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 110%;
  padding-bottom: 160px;
}

.hero-section {
  position: relative;
  padding-top: 200px;
  overflow: hidden;
  padding-bottom: 140px;
}

section.hero-section.other-hero:after {
  content: none;
}

.hero-section:after {
  position: absolute;
  z-index: 5;
  content: "";
  inset: 0;
  background: #00000080;
  z-index: 2;
}

.hero-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.author-sec {
  background-image: url(../images/bg-author.png);
  padding-top: 460px;
  padding-bottom: 100px;
  text-align: center;
}

.author-sec .row {
  justify-content: center;
}

img.hero-section-bottom-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}



.hero-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.hero-img.img-box-content {
  z-index: 4;
  position: relative;
  height: 490px;
}

.hero-content {
  position: relative;
  z-index: 5;
}

.hero-content h1 {
  color: white;
  font-size: 69px;
  line-height: 1.1;
  font-family: var(--font-dm);
}

.hero-img.img-box-content img {
  object-fit: contain;
}

/* From Uiverse.io by david-mohseni */
.soccial-media-wrapper {
  display: inline-flex;
  list-style: none;
  padding: 0;
  gap: 9px;
}

.soccial-media-wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 0;
  font-size: 15px;
  color: var(--primary);
}

.soccial-media-wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.soccial-media-wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.soccial-media-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.soccial-media-wrapper .icon:hover span,
.soccial-media-wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.soccial-media-wrapper .facebook:hover,
.soccial-media-wrapper .facebook:hover .tooltip,
.soccial-media-wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.soccial-media-wrapper .twitter:hover,
.soccial-media-wrapper .twitter:hover .tooltip,
.soccial-media-wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.soccial-media-wrapper .instagram:hover,
.soccial-media-wrapper .instagram:hover .tooltip,
.soccial-media-wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

ul.footer-link li a:hover {
  color: #ffffffbf;
}

.hero-content p {
  color: #ffffffc9;
}

.aurthor-section-main {
  padding: 40px 45px;
  /* background: #D4F1F9; */
  overflow: hidden;
  position: relative;
}

section.aurthor-section {
  padding-top: 70px;
}

.main-heading {
  font-size: 59px;
  font-family: var(--font-dm);
}

.main-heading-center {
  text-align: center;
}

.author-img.img-box {
  height: 490px;
}

section.aurthor-section .row {
  align-items: center;
}

.aurthor-section-content p {
  font-size: 16px;
}

.about-book-content h3 {
  font-size: 24px;
  color: black;
  font-family: var(--font-700);
}

.about-book-content p {
  font-size: 17px;
}

section.about-book .row {
  align-items: center;
  margin-top: 20px;
}

.about-book-card {
  padding: 20px 25px;
  border: 2px solid #dddddd;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  transition: .3s 0.3s;
}

.about-book-bottom {
  display: flex;
  gap: 0 21px;
}

.about-book-bottom strong {
  color: var(--primary);
  font-family: var(--font-600);
}

.about-book-card h4 {
  font-size: 27px;
  font-family: var(--font-600);
}

.about-book-cards-main {
  margin-top: 30px;
}

.about-book-card:after,
.about-book-card:before {
  content: "";
  position: absolute;
  z-index: 2;
  background: #f2ffe1;
  left: -11px;
  bottom: -40px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  transition: 1s;
  scale: 1;
  opacity: 0.4;
}

.about-book-card>* {
  z-index: 4;
  position: relative;
}

.about-book-card:before {
  bottom: auto;
  left: auto;
  top: -40px;
  right: -40px;
}

.about-book-card:hover:after,
.about-book-card:hover:before {
  height: 100%;
  width: 100%;
  border-radius: 0;
  scale: 2;
  opacity: 1;
}

.about-book-card>span {
  color: var(--primary);
  font-family: var(--font-500);
}

.about-book-card:hover {
  border-color: var(--primary);
}



.amazone-book {
  background-image: url(../images/amazone-book-bg.png);
  /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}


.amazone-book-content p {
  font-size: 17px;
  color: white;
}

.amazone-book-img.img-box-content {
  height: 390px;
}

.amazone-book-content .main-heading {
  color: white;
}

.amazone-book .row {
  align-items: center;
}

.amazone-book-content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.content-btn-main a {
  display: block;
  z-index: 33;
  overflow: hidden;
}

.content-btn-main {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.book-trailer-heading {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 30px;
}

.book-trailer-heading h2 {
  margin: 0;
  color: #2B2B2B;
}

.book-trailer-heading p {
  max-width: 580px;
  margin: 0;
  font-size: 17px;
  color: #2B2B2B;
}

.book-trailer.img-box-content {
  /* padding: 20px; */
  /* border: 2px solid #8F8F8F; */
  height: auto;
}

#myVideo {
  width: 100%;
  height: auto;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  font-size: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: white;
  color: var(--primary);
}


.video-container {
  position: relative;
}

section#trailer {
  background: #EDEDED;
}

.content-btn-main a:hover {
  overflow: visible;
}

.testimonial-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.testimonial-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.testimonial-card-content>* {
  margin: 0;
}

.testimonial-card-content h3 {
  font-size: 20px;
  color: black;
  font-family: var(--font-600);
}

.testimonial-card-content p {
  color: gray;
  font-size: 15px;
}

.testimonial-top-content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.testimonial-top-content strong {
  font-size: 20px;
  color: black;
  font-family: var(--font-dm);
}

.testimonial-card .rating {
  display: flex;
  align-items: center;
  gap: 9px;
  color: orange;
  font-size: 20px;
}

.blogs-wrapper {
  padding-top: 50px;
  border-top: 3px solid #00000033;
}

.blog-card {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.blog-img.img-box {
  flex: 0 0 220px;
}

.blog-card-content>* {
  margin: 0;
}

.blog-card-content h3 {
  font-size: 24px;
  font-family: var(--font-600);
}

.blog-card-content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.blog-card-content span,
.blog-card-content p {
  color: #767676;
  font-size: 17px;
}

.blog-card-content strong {
  color: var(--primary);
  font-family: var(--font-700);
}


.blog-card:hover img {
  rotate: -4deg;
}



section.hero-section.other-hero .hero-content {
  text-align: center;
  max-width: 530px;
  margin: 0 auto;
}

.about-aurthor-02-content-main {
  padding: 50px 55px;
  background: #D4F1F9;
  position: relative;
  padding-top: 150px;
}


img.about-aurthor-02-img {
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  left: 0;
}

.accordion-item {
  margin-bottom: 20px;
  border: 2px solid #d1d1d1 !important;

}

.accordion-button::after {
  height: 30px;
  width: 30px;
  background: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "+";
  background-image: none;
  font-size: 20px;
  padding: 0;
  padding-bottom: 6px;
}

.accordion-button:not(.collapsed)::after {
  content: "-";
  background-image: none;
}

.accordion-button:not(.collapsed) {
  background: #ecffd494;
  color: var(--primary);
}

button.accordion-button.collapsed {
  box-shadow: none;
  outline: none;
  font-family: var(--font-600);
  font-size: 19px;
}

.accordion-button:focus {
  border-color: var(--primary);
  box-shadow: none !important;

}

button.accordion-button {
  font-family: var(--font-600);
  font-size: 19px;
}

.faq .main-heading-center {
  margin-bottom: 40px;
}

.book-2-content strong {
  font-size: 17px;
  font-family: var(--font-600);
  color: black;
  margin-bottom: 20px;
  display: flex;
}

.about-aurthor-book-main .content-btn-main {
  justify-content: center;
  margin-bottom: 20px;
}

.about-aurthor-book-main .content-btn-main img {
  filter: brightness(0.5);
}

.about-aurthor-book {
  margin-bottom: 20px;
}

section.book-2 .main-heading-center {
  margin-bottom: 40px;
}

section.hero-section.other-hero .hero-content h1 {
  text-transform: capitalize;
}

.contact-form-content p {
  max-width: 500px;
  font-size: 17px;
  margin-bottom: 20px;
}

.contact-form-content-social-media:nth-child(1) {
  align-items: flex-start;
}

.contact-form-content-social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-form-content-social-media-main {
  max-width: 340px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 11px;
}

.bg-contact-form {
  padding: 39px;
  border: 2px solid #00000029;
}

.form-control::placeholder {
  color: #959595 !important;

}

.contact-form-content-social-media-main .icon {
  color: var(--primary);
  font-size: 21px;
}

.contact-form-content-social-media-main span {
  font-size: 16px;
  color: black;
  font-family: var(--font-600);
}

.mb-0.contact-btn .theme-btn {
  width: 100%;
}

/* 

.fade-animation {
  animation: BoxRotateanimation both;
  animation-timeline: view(block);
}

@keyframes BoxRotateanimation {
  0% {
    transform: translateY(369px) scale(.2);
    opacity: 0;
    filter: blur(0px);


  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }

}

/* 


.fade-in {
  animation: fade-in linear;
  animation-timeline: view(block 95% 0%);
}

@keyframes left-side {
  from {
    transform: translateX(-200px);
    opacity: .2;
  }

  to {
    transform: translateX(0px);
    opacity: 1;

  }
 */
.aurthor-section-main::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .6;
  transform: translate(-50%, -50%);
  background: var(--primary-light);
  height: 100%;
  /* Start from 0 */
  width: 50%;
  /* Start from 0 */
  /* Circle shape */
}

.aurthor-section-main>* {
  position: relative;
  z-index: 4;
}